doctype html
html(lang='en')
    head        
        // Libraries
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js', defer)
        script(src='https://cdnjs.cloudflare.com/ajax/libs/phaser/2.4.4/phaser.min.js', defer)
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js', defer)
        script(src='/eureca.js', defer)
        
        // JavaScript
        script(src='/js/socket.js', defer)
        //- script(src='/js/game.js', defer)

        // Page stuff
        title= 'Steal the Bacon'
        link(rel='shorcut icon', href='/assets/bacon.png')    
