doctype html
html(lang='en')
    head
        title= 'Steal the Bacon'
        link(rel='shorcut icon', href='')
        
        // Libraries
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js', defer)
        script(src='https://cdnjs.cloudflare.com/ajax/libs/phaser/2.4.4/phaser.min.js', defer)
        
        // JavaScript
        script(src='/js/socket.js', defer)
        script(src='/js/game.js', defer)
        
    body
