doctype html
html(lang='en')
    head
        // Meta
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        
        // CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/start.css')
        
        // Page stuff
        link(rel='shortcut icon', href='')
        title Steal the Bacon Start
    body
        div.container
            h2 Steal the Bacon Start
            form(method='post')
                div.form-group
                    label(for='username') Choose a username
                    input#username.form-control(type='text', name='username')
                div.form-group
                    button.btn.btn-default(type='submit') Submit
    script document.getElementById('username').focus();
