html {
    background-color: Brown;
    position: relative;
    min-height: 100%;
}

body {
    color: Brown;
    background-color: Ivory;
    padding-top: 200px;
    margin-bottom: 50px;
}

.container {
    max-width: 500px;
}

#username {
    background-color: Ivory;
    color: Brown;
}

.btn {
    color: Ivory;
    background-color: Brown;
}
